*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond-phone {
        font-size: 50%;
    }

    @include respond-tablet {
        font-size: 55%;
    }
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}