{
    "presets": [
        ["@babel/env", {
            "useBuiltIns": "entry",
            "corejs": "3",
            "targets": {
                "browsers": [
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }]
    ]
}