.about {
    color: white;
    font-size: 1.7rem;
    width: 100%;
    height: 100%;
    padding-top: 10rem;

    display: flex;
    justify-content: center;
    flex-direction: row;

    &__div {
        width: 50rem;
        padding: 2rem;
    }

    &__figure {
        width: 100%;
        height: 60rem;
        overflow: hidden;

        &-img {
            width: 30rem;
            transform: scale(2) translateX(5.5rem);
        }
    }

    &__intro {
        color: white;

        &-txt {
            margin-bottom: 2rem;
        }
        // }
        // // All of the text items should have a bottom margin
        // :not(:last-child) {
        //     margin-bottom: 2rem;
        // }
    }

    &__skills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include respond-tablet {
        &__figure {

            &-img {
                transform: scale(1.8) translate(3.3rem, -2.5rem);
            }
        }
    }

    @include respond-phone {
        padding-top: 5rem;

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__div {
            width: 32rem;
            padding: 1rem;
        }

        &__figure {
            width: 100%;
            height: 30rem;
            overflow: hidden;

            &-img {
                transform: scale(1.8) translate(.3rem, -3rem);
            }
        }
    }
}