.about {
    color: white;
    margin-top: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;

    &__div {
        width: 55rem;
        padding: 1rem;
    }

    &__figure {
        width: 100%;
        height: 60rem;
        overflow: hidden;

        &-img {
            width: 30rem;
            transform: scale(2) translateX(5.5rem);
        }
    }

    &__social {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        height: 60px;

        :not(:last-child) {
            margin-right: 4rem;
        }

        @include respond-phone {
            justify-content: center;

            :not(:last-child) {
                margin-right: 3rem;
            }
        }
    }

    &__intro {
        &-txt {
            margin-bottom: 2rem;
        }
    }

    &__skills {
        position: relative;
        min-height: 10rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include respond-tablet {
        margin-top: 5rem;

        &__figure {
            &-img {
                transform: scale(1.8) translate(3.3rem, -2.5rem);
            }
        }
    }

    @include respond-phone {
        margin-top: 5rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__div {
            width: 35rem;
        }

        &__figure {
            height: 30rem;

            &-img {
                transform: scale(1.8) translate(2.3rem, -2rem);
            }
        }
    }
}