.loader {
    @include centerOnBlock;
    &__img {
        width: 30px;
        height: 30px;
        animation: rotate 1.5s infinite linear;
    }

    &__failed {
        @include centerOnBlock;
        font-size: 90%;
        font-style: italic;
        color: $color-grey-dark-2;
        text-align: center;
    }
}