.project {
    border-radius: 5px;
    margin: 1rem;
    width: 52rem;
    padding: 1rem 2.5rem;
    background-color: $color-grey-dark-3;
    color: white;
    transition: all .15s;
    position: relative;

    &:hover {
        transform: scale(1.02);
    }

    &__name{
        font-size: 120%;
        height: 3rem;
        border-bottom: 2px dotted white;
        margin-bottom: 1rem;
    }

    &__expand {
        cursor: pointer;
        position: absolute;
        top: 13;
        right: 30;
        transition: transform .15s linear;

        height: 0rem;
        width: 0rem;
        opacity: 0;
    }

    &__link{
        width: 100%;
        height: 3rem;
        margin-bottom: 0.5rem;
        display: inline-block;
        position: relative;

        &-figure {
            position: absolute;
            top: 50%;
            left: 0.5rem;
            transform: translateY(-50%);
            width: 2.5rem;
            height: 2.5rem;
        }

        &-url {
            position: absolute;
            top: 50%;
            left: 4rem;
            transform: translateY(-50%);
            color: #ddd;
        }
    }

    &__desc {
        margin-left: 0.5rem;
        height: 6rem;
        overflow: hidden;
        transition: all .3s linear;
    }

    &__tags {
        font-weight: 500;
        font-size: 90%;
        height: 3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
        transition: all .3s linear;
    }

    &__active &__desc {
        height: 12rem;
        overflow: auto;
    }

    &__active &__tags {
        height: 3rem;
    }

    &__active &__expand {
        transform: rotate(180deg);
    }

    @include respond-phone {
        width: 30rem;

        &__expand {
            height: 2rem;
            width: 2rem;
            opacity: 1;
        }

        &__desc {
            height: 0px;
        }

        &__tags {
            height: 0px;
        }
    }
}