.skill {
    &-item {
        font-size: 1.3rem;
        border-radius: 3px;
        text-align: center;
        min-width: 5rem;
        color: white;
        background-color: $color-grey-dark-3;
        padding: 0.5rem 1rem;
        margin: 0.5rem;

        transition: all .1s;

        &:hover {
            transform: scale(1.1);
        }
    }
}