.social {
    &__icon {
        width: 40px;
        height: 40px;

        transition: all .2s;

        &:hover {
            transform: scale(1.15);
        }

        @include respond-phone {
            width: 30px;
            hegith: 30px;
        }
    }
}