.projects {
    width: 110rem;
    min-height: 20rem;

    &__list {
        position: relative;
        width: 100%;
        min-height: 10rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include respond-phone {
        width: 33rem;

        &__search {
            width: 33rem;
        }

        &__list {
            width: 33rem;
        }
    }
}